@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');
.chatroom p{
  margin-bottom:0;

  padding: 0px 15px;
}
.chatroom {
  width: 350px;
  background-color: rgba(16, 44, 55, 0.7);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
  position:fixed;
  right:20px;
  bottom:0;
  z-index: 1000;

}

.chatroom h3 {
  background-color: #61bdc5;
  color: #FFF;
  margin: 0;
  height: 35px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.chatroom h5 {
  color: #FFF;
  margin-top: 10px;
  height: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatroom .chats {
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
  height: 510px;
  overflow-y: scroll;
}

.chatroom .chats .chat {
  background: rgba(255, 255, 255, 0.93);
  position: relative;
  font-size: 13px;
  border-radius: 10px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0;
  max-width: 175px;
}

.chatroom .chats .chat .user {
  background: #6ccbe1;
  border-radius: 10px 10px 0px 0px;
  padding: 0px 10px;
  top: -15px;
  left: 17px;
}

.chatroom .chats .chat img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 0px;
}

.chatroom .chats .chat.right {
  float: right;
  clear: both;
}

.chatroom .chats .chat a {
  text-decoration: none;
  color:#3498DB;
}

.chatroom .input {
  height: 40px;
  width: 100%;
  background: #61bdc5;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatroom .input input[type="text"] {
  background: rgba(255, 255, 255, 0.75);
  outline: 0;
  border: 2px solid #6ccbe1;
  padding: 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 10px;
  height: 30px;
  width: 270px;
  box-sizing: border-box;
  font-size: 14px;
}

.chatroom .input input[type="submit"] {
  background: transparent;
  border: 0;
  height: 30px;
  width: 70px;
  font-size: 14px;
  font-weight: bold;
  color:white;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chatroom .input input[type="submit"]:hover {
  background: #6ccbe1;
  color: #FFF;
}

.msg_head{
right:290px;
}

.chatroom .chats .chat.left, .chatroom .chats .left .user{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}


.chatroom .chats .chat.right, .chatroom .chats .right .user{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}