@font-face {
    font-family: quicksand;
    src: url('../resources/fonts/Quicksand_Book.otf');
}

#footer{
    background-color: #102c37;
    height:50px;
    color:white;
}
#footer p{
    vertical-align: middle;
    margin:0;
    padding-top:13px;
}