#top-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    width:50px;
    height:50px;
    text-align: center;
    background-color: #6ccbe1;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border-radius: 25px;
}

#top-btn:hover {
    background-color: rgb(181, 181, 181);
}

#top-btn {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}



.navbar {
    margin-bottom: 0;
    background-color: rgba(16, 44, 55, 0.4);
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    border-radius: 0;
    padding-right: 10%;
    padding-left: 10%;
    min-height: 50px;
}

#pdf .navbar{
    padding-right: 30px;
    padding-left: 10%;
}

.navbar .navbar-brand img{
    width: 110px;
    margin-top: -7px;
    padding-right: 15px ;
}

.navbar li a{
    color: #fff !important;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom:5px;
    text-decoration: none;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #6ccbe1;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-toggler{
    border:none;
}

#about, #pdf {
    background: url(../resources/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
@media screen and (min-width: 992px) {
    #about, #download, #contact, #pdf .pdf-viewer {
        height: 100vh;
    }
    #pdf .pdf-viewer .container{
        position:absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); /* IE 9 */
        -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    }

    #pdf .pdf-viewer  .container button{
        position:absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); /* IE 9 */
        -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    }
    #aboutSection{
        position: absolute;
        top: 55%; left: 50%;
        transform: translate(-50%,-50%);
    }
    #contactSection{
        padding-left:10%;
        padding-right:10%;
    }

    #contactSection .btn{
        float: right;
    }
    #contactSection .form{
        border-left-color:#6ccbe1;
        border-left-style: solid;
        padding-left: 15px;
    }
}
@media screen and (max-width: 992px) {
    #aboutSection, #downloadSection, #contactSection{
        padding-top:20%;
        padding-bottom:20%;
    }
    #downloadSection{
        padding-left:3%;
        padding-right:3%;
    }

    .navbar .nav-item{
        height:35px;
    }
}

h1{
    color: #6ccbe1;
    font-size: 40px;
    padding-bottom:5%;
}

@media screen and (min-width: 992px)
{
    #aboutSection p{
        padding-left: 30px !important;
        padding-right: 30px !important;
        margin-left:20%;
        margin-right:20%;
    }

    #download, #contact{
        position: relative;
    }

    #downloadSection, #contactSection{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #downloadSection{
        width:80%;
    }

    #downloadSection .img-container{
        width:100%;
        border-left-color:#6ccbe1;
        border-left-style: solid;
        border-right-color:#6ccbe1;
        border-right-style: solid;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    #downloadSection{
        width:100%;
    }
    #downloadSection .img-container{
        width:100%;
        border-left-color:#6ccbe1;
        border-left-style: solid;
        border-right-color:#6ccbe1;
        border-right-style: solid;
    }
}

#aboutSection p{
    text-align: justify;
    color: white;
    font-size: 16px;
    border-left-color:#6ccbe1;
    border-left-style: solid;
    padding-left: 15px;
}

#download{
    background-color: #fcfcfc;
    width: 100%;
}

#downloadSection img{
    padding-top:10px;
    padding-bottom:10px;
    width: 400px;
}

#downloadSection .btn{
    margin:0;
    padding:0;
    margin-top:2%;
    background-color: #fcfcfc;
    width:250px;
    height:60px;
    background-image: url(../resources/images/buttons/btn3.png);
    background-size: 250px 60px;
}

#downloadSection .btn:hover{
    background-image: url(../resources/images/buttons/btn3_pressed.png);
    background-size: 250px 60px;
}

#contact{
    background: url(../resources/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
}

#contactWrapper{
    width:100%;
    height:100%;
    background-color: rgba(24, 66, 80, 0.71);
}

#contactSection img{
    width:250px;
    padding-top:5px;
}

#contactSection input, #contactSection textarea{
    border:none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.95);
}

#contactSection .btn{
    margin:0;
    padding:0;
    margin-top:5px;
    margin-right:-5px;
    background-color: transparent;
    width:230px;
    height:55px;
    background-image: url(../resources/images/buttons/send.png);
    background-size: 230px 55px;
}

#contactSection .btn:hover{
    background-image: url(../resources/images/buttons/send_pressed.png);
    background-size: 230px 55px;
}


@media screen and (max-width: 767px) {
    #contactSection img{
        padding-top:0;
        width:100px;
        padding-bottom:50px;
    }
}

@media screen and (max-width: 320px){
    #downloadSection img{
        width: 100%;
    }
}

.btn {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

#pdf .pdf-viewer{
    position:relative;
}

#pdf .arrow-btn{
    width:50px;
    height:50px;
    text-align: center;
    background-color: #6ccbe1;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border-radius: 25px;
}

#pdf .pdf-pages {
    text-align: center;
    color:white;
    padding-bottom:20px;
}

#pdf .next-page{
    left:89%;
}

#pdf .previous-page{
    left:11%;
}

#pdf .sync-button{
    padding-top:50px;
    padding-bottom:10px;
    padding-right:50px;
    text-align: right;
}

#pdf object{
   border-width: 2px;
}